<div class="main-container" [@pageAppear]>
    <div class="header-container">
        <h1>Andrew Camacho</h1>
        <h2>Software Developer</h2>
    </div>
    <div class="profile-img-container">
        <img src="../../../assets/images/Profile Pic.jpg" alt="A picture of me!">
    </div>
    <div class="mobile-header-container">
        <h1>Andrew Camacho</h1>
        <h2>Software Developer</h2>
    </div>

    <div class="text-container">
        <div class="text">
            <h2>A Little About Me...</h2>
            <p>I'm a fullstack developer currently residing in Phoenix, AZ. I've been practicing software 
                development since 2017 with a current emphasis on the Angular framework. As a natural problem solver, 
                I have a strong passion for this field and a drive to grow within the developer community.</p>
        </div>
        <div class="text">
            <h2>Skills and Education...</h2>
            <p>After completing the Web Development and Graphic Design program at South Mountain Community College in 2019, 
                I went on to spend my days and nights deep-diving into my craft. I am currently participating in a 
                mentorship program through Tech One IT developing business solutions for our clients and helping to bring 
                their visions to life.</p>

            <div class="skills-list">
                <h3>Programming Languages</h3>
                <mat-chip-listbox aria-label="Skills list">
                    <mat-chip>JavaScript (ES6+)</mat-chip>
                    <mat-chip>TypeScript</mat-chip>
                    <mat-chip>HTML5</mat-chip>
                    <mat-chip>CSS/SASS</mat-chip>
                    <mat-chip>C#</mat-chip>
                    <mat-chip>SQL</mat-chip>
                </mat-chip-listbox>
            </div>
            
            <div class="skills-list">
                <h3>Libraries and Frameworks</h3>
                <mat-chip-listbox aria-label="Skills list">
                    <mat-chip>Angular</mat-chip>
                    <mat-chip>ASP.NET</mat-chip>
                    <mat-chip>Bootstrap</mat-chip>
                    <mat-chip>Angular Material</mat-chip>
                    <mat-chip>React</mat-chip>
                    <mat-chip>jQuery</mat-chip>
                </mat-chip-listbox>
            </div>
            
            <div class="skills-list">
                <h3>Tools and Platforms</h3>
                <mat-chip-listbox aria-label="Skills list">
                    <mat-chip>Git</mat-chip>
                    <mat-chip>Azure DevOps</mat-chip>
                    <mat-chip>Dapper</mat-chip>
                    <mat-chip>Entity Framework</mat-chip>
                    <mat-chip>SQL Server Management Studio</mat-chip>
                    <mat-chip>Swagger</mat-chip>
                    <mat-chip>Angular CLI</mat-chip>
                    <mat-chip>Firebase</mat-chip>
                    <mat-chip>VSCode</mat-chip>
                    <mat-chip>Visual Studio</mat-chip>
                </mat-chip-listbox>
            </div>
        </div>
    </div>

    <div class="edu-img-container">
        <img src="../../../assets/images/Angular Certificate.jpg" alt="My Angular Certificate">
    </div>
</div>