.nav-container {
    display: flex;
    flex-direction: column;
    gap: 50px;
    width: 300px;
    padding: 50px;
}

.menu-logo {
    padding: 30px;
    background: var(--beige);
    border-radius: 10px;
    text-align: center;

    & h1 {
        margin: 0 0 10px;
        font-weight: 600;
        font-size: 36px;

        &:last-child {
            margin: 0;
        }
    }
}

.navbar-option {
    border-radius: 20px;
    width: 50%;

    &_active {
        background: var(--darkGreen);
        color: var(--white);
        border-radius: 20px;
        & .mat-icon {
            color: var(--white);
        }

        & p {
            color: var(--white);
        }
    }

    &:hover {
        background: var(--darkGreen);
        color: var(--white);
        transition: background-color .1s ease-in;

        & .mat-icon {
            color: var(--white);
        }
    }

    & mat-icon, & a {
        color: var(--darkGreen);
    }

    & a {
        display: flex;
        align-items: center;
        gap: 10px;
        text-decoration: none;
        font-weight: 500;
        padding: 10px 15px;

        & p {
            margin: 0;
            padding-top: 1px;
        }

        &:hover {
            color: var(--white);
        }
    }
}


@media only screen and (max-width:1900px) {
    .nav-container {
        width: 250px;
        padding: 30px;
    }
}
