<div class="main-container">
    <div class="menu-logo">
        <h1>HERE IS MY LOGO</h1>
    </div>
    
    <div class="navbar-option">
        <a href="">
            <mat-icon svgIcon="home_icon"></mat-icon>
            <p>Home</p>
        </a>
    </div>

    <div class="navbar-option">
        <a href="">
            <mat-icon svgIcon="about_icon"></mat-icon>
            <p>About</p>
        </a>
    </div>

    <div class="navbar-option">
        <a href="">
            <mat-icon svgIcon="skills_icon"></mat-icon>
            <p>Skills</p>
        </a>
    </div>

    <div class="navbar-option">
        <a href="">
            <mat-icon svgIcon="projects_icon"></mat-icon>
            <p>Projects</p>
        </a>
    </div>

    <div class="navbar-option">
        <a href="">
            <mat-icon svgIcon="contact_icon"></mat-icon>
            <p>Contact</p>
        </a>
    </div>
</div>