:host {
    width: 100%;
}

.main-container {
    height: 100vh;

    & .header-container {
        position: absolute;
        top: 100px;
        right: 250px;

        & h1 {
            font-size: 32px;
        }
    }

    & .link-container {
        width: 100%;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 75px;

        & .link {
            padding: 10px 15px;
            background: var(--darkGreen);
            border-radius: 20px;
            cursor: pointer;
            transition: background-color .1s ease-in;

            &:hover {
                background: var(--darkBrown);
            }

            & h3 {
                margin: 0;

                & a {
                    text-decoration: none;
                    color: var(--white);
                }
            }
        }

        
    }
}

@media only screen and (max-width: 1250px) {
    .main-container {
        & .header-container {
            position: absolute;
            right: 0;
            left: 0;

            & h1 {
                font-size: 30px;
                text-align: center;
                padding: 0;
            }
        }

        & .link-container {
            flex-direction: column;
            gap: 50px;
        }
    }
}
