<div class="main-container" [@pageAppear]>
    <div class="header-container">
        <h1>Contact</h1>
    </div>
    <div class="link-container">
        <div class="link-button">
            <a href="mailto: acdevelops1@gmail.com">
                <h3>Shoot me an Email!</h3>
            </a>
        </div>
        <div class="link-button">
            <a href="https://github.com/AND2181591" target="_blank">
                <h3>Visit me on Github!</h3>
            </a>
        </div>
    </div>
</div>

