.projects-container {
    padding: 200px 0;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 100px;

    & .project {
        display: flex;
        gap: 50px;
        padding: 25px 0;
        width: 1200px;

        & img {
            width: 700px;
            border: solid var(--darkGreen);
            border-radius: 4px;
        }

        & .project-desc {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            gap: 15px;
            max-width: 412.45px;

            .link-button {
                border-radius: 20px;
                background: var(--darkGreen);

                &:hover {
                    background: var(--darkGreen);
                    color: var(--white);
                }
            
                & a {
                    display: flex;
                    align-items: center;
                    gap: 10px;
                    text-decoration: none;
                    font-weight: 500;
                    padding: 10px 15px;
                    border-radius: 20px;
                    transition: background-color .1s ease-in;
            
                    & h3 {
                        margin: 0;
                        padding-top: 1px;
                        color: var(--white);
                    }
            
                    &:hover {
                        background-color: var(--darkBrown);
                        border-radius: 20px;
                    }
                }
            }
        }
    }
}

@media only screen and (max-width: 1815px) {
    .projects-container {
        flex-direction: column;
        gap: 50px;

        & .project {
            padding: 25px;
            max-width: 850px;

            & img {
                width: 550px;
            }
        }
    }
}

@media only screen and (max-width: 1250px) {
    .projects-container {

        & .project {
            flex-direction: column;
            align-items: center;
            gap: 15px;
            width: inherit;

            & .project-desc {
                gap: 0;
            }
        }
    }
}

@media only screen and (max-width: 700px) {
    .projects-container {
        justify-content: flex-start;
        padding: 100px 0;
        gap: 0;

        & .project {
            padding: 25px 0;

            & img {
                width: 85%;
            }

            & .project-desc {
                text-align: center;
                padding: 0 20px;
            }
        }
    }
}
