<mat-sidenav-container>
    <mat-sidenav #sidenav>
        <app-navbar (closeSideNav)="sidenav.close()"></app-navbar>
    </mat-sidenav>
    <mat-sidenav-content>
        <main class="app-container">
            <div *ngIf="showHamburgerMenu" class="hamburger-button">
                <button mat-icon-button (click)="sidenav.open()">
                    <mat-icon>menu</mat-icon>
                </button>
            </div>
            <app-navbar *ngIf="!showHamburgerMenu"></app-navbar>
            <router-outlet></router-outlet>
        </main>
    </mat-sidenav-content>
</mat-sidenav-container>
