.app-container {
    display: flex;
    background: var(--offWhite);

    & .hamburger-button {
        position: absolute;
        top: 10px;
        left: 10px;

        & button {
            background: var(--beige);
        }
    }

    & app-navbar {
        background: var(--white);
    }
}

@media only screen and (max-width: 1250px) {
    .app-container {
        justify-content: center;
    }
}