.main-container, .main-container_night {
    height: 100vh;
    width: calc(100vw - 400px);
    display: flex;
    justify-content: center;
    transition: background-color 2s;
    overflow: hidden;
}

.main-container_night {
    background-color: #000b16;
}

app-neon-sign {
    padding-top: 10%;
}

@media only screen and (max-width:1900px) {
    .main-container, .main-container_night {
        width: calc(100vw - 310px);
    }
}

@media only screen and (max-width:1250px) {
    .main-container, .main-container_night {
        width: 100vw;
    }
}